# Part 2 - Crude Oil Export in CAD, GDP Contribution of Oil Export from CA
----

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import datetime

In [2]:
# List all related data files path
table_4_file = "Resources/Raw Data/Table 4 - Canadian Oil Export by Type.xls"
table_8_file = "Resources/Raw Data/Table 8 - Canada GDP Data.csv"
table_6_file = "Resources/Raw Data/Table 6 - USD-CAD Exchange Rate (API Output).csv"

## Table 4 - Canadian Oil Export by Type
----

In [3]:
# Read excel file and display
table_4_df = pd.read_excel(table_4_file)
table_4_df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Crude Oil Exports - Summary by Type - Monthly\...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Light\n(> 30 API),NaN,NaN,Medium\n(25 - 30 API),Heavy\n(<25 API),NaN,NaN,NaN,NaN
5,Period:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,NaN,NaN
6,2000-01-01,NaN,NaN,102223,NaN,NaN,25889.1,90128.1,NaN,218240,NaN,NaN
7,2000-02-01,NaN,NaN,104746,NaN,NaN,27786.6,81843.1,NaN,214376,NaN,NaN
8,2000-03-01,NaN,NaN,101307,NaN,NaN,26496,91580.9,NaN,219384,NaN,NaN
9,2000-04-01,NaN,NaN,106014,NaN,NaN,25062.3,78239.9,NaN,209316,NaN,NaN
10,2000-05-01,NaN,NaN,108434,NaN,NaN,31567.8,97939.7,NaN,237941,NaN,NaN
11,2000-06-01,NaN,NaN,114142,NaN,NaN,24275,93868.2,NaN,232286,NaN,NaN
12,2000-07-01,NaN,NaN,94025.7,NaN,NaN,30742.3,87349.9,NaN,212118,NaN,NaN
13,2000-08-01,NaN,NaN,98057.1,NaN,NaN,28718.4,84657,NaN,211432,NaN,NaN
14,2000-09-01,NaN,NaN,95258.6,NaN,NaN,28253.1,80536.2,NaN,204048,NaN,NaN
15,2000-10-01,NaN,NaN,100042,NaN,NaN,28735,90494.5,NaN,219271,NaN,NaN
16,2000-11-01,NaN,NaN,95753.9,NaN,NaN,27361,93007.6,NaN,216122,NaN,NaN
17,2000-12-01,NaN,NaN,105556,NaN,NaN,26521.1,103901,NaN,235979,NaN,NaN
18,2001-01-01,NaN,NaN,91520.2,NaN,NaN,26806.4,96825.1,NaN,215152,NaN,NaN
19,2001-02-01,NaN,NaN,98519.2,NaN,NaN,19389.6,100609,NaN,218517,NaN,NaN

In [4]:
# Take any row of needed data, drop all NaN values, then get the list of columns
sample_row = table_4_df.iloc[6]
list_columns = sample_row.dropna().index

# Parse the list of needed columns to get the clean df
cleaned_table_4_df = table_4_df[list_columns]

# Drop all rows with NaN data, reset index and rename columns
cleaned_table_4_df.dropna(how = "any", inplace = True)
cleaned_table_4_df.reset_index(drop = True, inplace = True)
cleaned_table_4_df.columns = ["Date", "Light Oil", "Medium Oil", "Heavy Oil", "Oil Export (m3 per day)"]
cleaned_table_4_df["Date"] = cleaned_table_4_df["Date"].str.replace(" ", "")
cleaned_table_4_df.head()

         Date Light Oil Medium Oil Heavy Oil Oil Export (m3 per day)
0  2000-01-01    102223    25889.1   90128.1                  218240
1  2000-02-01    104746    27786.6   81843.1                  214376
2  2000-03-01    101307      26496   91580.9                  219384
3  2000-04-01    106014    25062.3   78239.9                  209316
4  2000-05-01    108434    31567.8   97939.7                  237941

In [5]:
# Get data since 2005
final_table_4_df = cleaned_table_4_df.loc[cleaned_table_4_df["Date"] >= "2005-01-01"].reset_index(drop = True)
final_table_4_df.head()

         Date Light Oil Medium Oil Heavy Oil Oil Export (m3 per day)
0  2005-01-01   75902.4    16483.5    145993                  238379
1  2005-02-01   83087.1    16602.9    136865                  236555
2  2005-03-01   68671.6    17079.5    145111                  230862
3  2005-04-01   75845.5    18255.4    152258                  246359
4  2005-05-01   99545.6    21165.5    158121                  278832

In [6]:
# Export to csv
final_table_4_df.to_csv("Resources/Clean Data/Table 4.csv", index = False)

## Table 8 - Canada GDP Data
----

In [7]:
# Read csv and Cleaning the Canada GDP csv
table_8_df = pd.read_csv(table_8_file)
table_8_df.head(20)

,"Gross domestic product (GDP) at basic prices, by industry, monthly, industry detail (x 1,000,000) 1 2",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 239,Unnamed: 240,Unnamed: 241,Unnamed: 242,Unnamed: 243,Unnamed: 244,Unnamed: 245,Unnamed: 246,Unnamed: 247,Unnamed: 248
0,Monthly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Table: 36-10-0434-04 (formerly CANSIM 379-0031),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Geography: Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Seasonally adjusted at annual rates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Chained (2012) dollars 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,North American Industry Classification System ...,Jan-00,Feb-00,Mar-00,Apr-00,May-00,Jun-00,Jul-00,Aug-00,Sep-00,...,19-Nov,19-Dec,20-Jan,20-Feb,20-Mar,20-Apr,20-May,20-Jun,20-Jul,20-Aug
8,NaN,Dollars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Agriculture, forestry, fishing and hunting [11]","28,095","27,638","28,461","28,216","28,397","28,848","28,793","28,054","27,649",...,"41,436","40,718","40,665","41,001","41,397","41,228","41,985","42,196","42,008","42,010"
10,Crop and animal production [11A] 4,"19,970","19,602","19,943","19,713","19,561","19,610","19,593","19,584","19,650",...,"35,029","34,299","34,190","34,557","34,765","34,576","35,480","36,253","35,775","35,583"
11,Crop production [111],"15,710","15,563","15,598","15,441","15,397","15,225","15,131","15,043","15,009",...,"29,525","28,752","28,636","29,095","29,246","29,283","29,989","30,767","30,260","30,112"
12,Crop production (except cannabis) [111X],"15,506","15,342","15,341","15,135","15,026","14,778","14,595","14,407","14,261",...,"22,098","22,163","22,222","22,370","22,394","22,368","22,500","22,593","22,727","22,786"
13,Cannabis production [111C],"1,606","1,599","1,601","1,609","1,617","1,624","1,629","1,645","1,671",...,"7,545","6,636","6,447","6,779","6,916","6,984","7,602","8,339","7,645","7,419"
14,Cannabis production (licensed) [111CL],..,..,..,..,..,..,..,..,..,...,"4,389","3,558","3,415","3,760","3,920","4,014","4,633","5,367","4,722","4,525"
15,Cannabis production (unlicensed) [111CU],"1,606","1,599","1,601","1,609","1,617","1,624","1,629","1,645","1,671",...,"2,972","2,931","2,891","2,863","2,832","2,802","2,773","2,742","2,722","2,703"
16,Animal production [112],"4,460","4,305","4,477","4,414","4,348","4,455","4,493","4,533","4,594",...,"5,588","5,588","5,588","5,536","5,588","5,413","5,598","5,629","5,629","5,588"
17,Forestry and logging [113],"4,464","4,458","4,735","4,730","4,932","5,150","5,113","4,649","4,363",...,"3,123","3,113","3,163","3,122","3,352","3,451","3,324","2,760","2,928","3,091"
18,"Fishing, hunting and trapping [114]","1,154","1,083","1,190","1,197","1,230","1,236","1,246","1,240","1,221",...,"1,106","1,104","1,106","1,094","1,099","1,075","1,089","1,112","1,125","1,128"
19,Support activities for agriculture and forestr...,"2,330","2,307","2,302","2,270","2,260","2,349","2,353","2,334","2,318",...,"2,609","2,598","2,593","2,639","2,595","2,552","2,562","2,593","2,645","2,650"

In [8]:
# Drop all NaN values rows
new_table_8_df = table_8_df.dropna(axis = 0, how = "any")

# Filter out the columns which contain word "Oil"
table_8_filter_1 = new_table_8_df[new_table_8_df.columns[0]].str.contains("NAICS")
table_8_filter_2 = new_table_8_df[new_table_8_df.columns[0]].str.contains("Oil")
new_table_8_df = new_table_8_df[table_8_filter_1].append(new_table_8_df[table_8_filter_2]).reset_index(drop = True)
new_table_8_df

,"Gross domestic product (GDP) at basic prices, by industry, monthly, industry detail (x 1,000,000) 1 2",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 239,Unnamed: 240,Unnamed: 241,Unnamed: 242,Unnamed: 243,Unnamed: 244,Unnamed: 245,Unnamed: 246,Unnamed: 247,Unnamed: 248
0,North American Industry Classification System ...,Jan-00,Feb-00,Mar-00,Apr-00,May-00,Jun-00,Jul-00,Aug-00,Sep-00,...,19-Nov,19-Dec,20-Jan,20-Feb,20-Mar,20-Apr,20-May,20-Jun,20-Jul,20-Aug
1,Oil and gas extraction [211],"69,825","69,154","68,513","69,640","69,412","69,491","68,357","68,179","68,884",...,"109,386","110,088","109,236","109,549","109,250","103,118","99,818","100,173","97,703","93,892"
2,Oil and gas extraction (except oil sands) [21...,..,..,..,..,..,..,..,..,..,...,"55,738","53,935","52,645","53,965","53,619","49,829","48,269","50,583","49,222","49,122"
3,Oil sands extraction [21114],..,..,..,..,..,..,..,..,..,...,"54,466","56,914","57,321","56,351","56,388","53,982","52,220","50,325","49,194","45,508"

In [9]:
# Only get the total oil and gas contribution to GDP
oil_table_8_df = new_table_8_df.iloc[0:2]
oil_table_8_df.set_index(oil_table_8_df.columns[0], inplace = True)
oil_table_8_df.index.name = None

# Transpose the dataframe and reset its index
clean_table_8_df = oil_table_8_df.T.reset_index(drop = True)

# Rename columns
clean_table_8_df.columns = ["Date", "Oil and gas extraction (million dollars)"]

# Remove rows with year 2000
table_8_filter_3 = clean_table_8_df["Date"].str.contains("00")
final_table_8_df = clean_table_8_df[~table_8_filter_3]
final_table_8_df["Date"] = pd.to_datetime(final_table_8_df["Date"], format = "%y-%b")

# Get only the data since 2005
final_table_8_df = final_table_8_df[final_table_8_df["Date"]>= "2005-01-01"].reset_index(drop = True)

# Change the number to float
final_table_8_df["Oil and gas extraction (million dollars)"] = \
    final_table_8_df["Oil and gas extraction (million dollars)"].str.replace(",", "").astype(float)

final_table_8_df.head(10)

        Date  Oil and gas extraction (million dollars)
0 2005-01-01                                   75199.0
1 2005-02-01                                   73681.0
2 2005-03-01                                   72409.0
3 2005-04-01                                   74726.0
4 2005-05-01                                   75464.0
5 2005-06-01                                   74848.0
6 2005-07-01                                   74822.0
7 2005-08-01                                   75521.0
8 2005-09-01                                   76413.0
9 2005-10-01                                   77135.0

In [10]:
# Export to csv
final_table_8_df.to_csv("Resources/Clean Data/Table 8.csv", index = False)

# Transformation from processed dataset

In [15]:
# Read table 4, 8 and exchange rate csvs
tab_4_df = pd.read_csv("Resources/Clean Data/Table 4.csv")
tab_8_df = pd.read_csv("Resources/Clean Data/Table 8.csv")
exchange_df = pd.read_csv("Resources/Clean Data/Monthly_Exchange_Rate.csv")

# Filter required columns
tab_4_df = tab_4_df[["Date", "Oil Export (m3 per day)"]]
exchange_df = exchange_df[["Date", "CAD/USD"]]

In [16]:
# Merge all three csvs
tab_4_8_df = pd.merge(tab_4_df, tab_8_df, on = "Date", how = "left")
can_df = pd.merge(tab_4_8_df, exchange_df, on = "Date", how = "left")
can_df.head()

,Date,Oil Export (m3 per day),Oil and gas extraction (million dollars),CAD/USD
0,2005-01-01,238378.82,75199.0,0.829739
1,2005-02-01,236555.08,73681.0,0.806476
2,2005-03-01,230862.26,72409.0,0.810499
3,2005-04-01,246359.10,74726.0,0.823526
4,2005-05-01,278832.47,75464.0,0.800259

In [17]:
# Export csv
can_df.to_csv("Transformed Data/Part 2.csv", index = False)