# Part 2 - Crude Oil Export in CAD, GDP Contribution of Oil Export from CA

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [4]:
# List all related data files path
table_4_file = "Resources/Raw Data/Table 4 - Canadian Oil Export by Type.xls"
table_8_file = "Resources/Raw Data/Table 8 - Canada GDP Data.csv"
table_6_file = "Resources/Raw Data/Table 6 - USD-CAD Exchange Rate (API Output).csv"

In [7]:
# Read 
table_4_df = pd.read_excel(table_4_file)
table_4_df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Crude Oil Exports - Summary by Type - Monthly\...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Light\n(> 30 API),NaN,NaN,Medium\n(25 - 30 API),Heavy\n(<25 API),NaN,NaN,NaN,NaN
5,Period:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,NaN,NaN
6,2000-01-01,NaN,NaN,102223,NaN,NaN,25889.1,90128.1,NaN,218240,NaN,NaN
7,2000-02-01,NaN,NaN,104746,NaN,NaN,27786.6,81843.1,NaN,214376,NaN,NaN
8,2000-03-01,NaN,NaN,101307,NaN,NaN,26496,91580.9,NaN,219384,NaN,NaN
9,2000-04-01,NaN,NaN,106014,NaN,NaN,25062.3,78239.9,NaN,209316,NaN,NaN
10,2000-05-01,NaN,NaN,108434,NaN,NaN,31567.8,97939.7,NaN,237941,NaN,NaN
11,2000-06-01,NaN,NaN,114142,NaN,NaN,24275,93868.2,NaN,232286,NaN,NaN
12,2000-07-01,NaN,NaN,94025.7,NaN,NaN,30742.3,87349.9,NaN,212118,NaN,NaN
13,2000-08-01,NaN,NaN,98057.1,NaN,NaN,28718.4,84657,NaN,211432,NaN,NaN
14,2000-09-01,NaN,NaN,95258.6,NaN,NaN,28253.1,80536.2,NaN,204048,NaN,NaN
15,2000-10-01,NaN,NaN,100042,NaN,NaN,28735,90494.5,NaN,219271,NaN,NaN
16,2000-11-01,NaN,NaN,95753.9,NaN,NaN,27361,93007.6,NaN,216122,NaN,NaN
17,2000-12-01,NaN,NaN,105556,NaN,NaN,26521.1,103901,NaN,235979,NaN,NaN
18,2001-01-01,NaN,NaN,91520.2,NaN,NaN,26806.4,96825.1,NaN,215152,NaN,NaN
19,2001-02-01,NaN,NaN,98519.2,NaN,NaN,19389.6,100609,NaN,218517,NaN,NaN

In [43]:
oil_df.drop(oil_df.columns[[1,2,4,5,8,10,11]], axis = "columns", inplace = True)
oil_df.dropna(how = "any", inplace = True)
oil_df.columns = ["Month", "Light Oil", "Medium Oil", "Heavy Oil", "Total"]
oil_df.reset_index(drop = True, inplace = True)
oil_df

           Month Light Oil Medium Oil Heavy Oil   Total
0    2000-01-01     102223    25889.1   90128.1  218240
1    2000-02-01     104746    27786.6   81843.1  214376
2    2000-03-01     101307      26496   91580.9  219384
3    2000-04-01     106014    25062.3   78239.9  209316
4    2000-05-01     108434    31567.8   97939.7  237941
..           ...       ...        ...       ...     ...
243  2020-04-01     133249     5847.9    430463  569560
244  2020-05-01     143919    6015.04    380256  530189
245  2020-06-01     132439    5894.95    399640  537973
246  2020-07-01     147100    5544.61    422212  574856
247  2020-08-01     152944    6876.01    400665  560485

[248 rows x 5 columns]

In [45]:
# Cleaning the Canada GDP csv
can_gdp_df = pd.read_csv(can_gdp_file)
can_gdp_df.head(20)

,"Gross domestic product (GDP) at basic prices, by industry, monthly, industry detail (x 1,000,000) 1 2",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 239,Unnamed: 240,Unnamed: 241,Unnamed: 242,Unnamed: 243,Unnamed: 244,Unnamed: 245,Unnamed: 246,Unnamed: 247,Unnamed: 248
0,Monthly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Table: 36-10-0434-04 (formerly CANSIM 379-0031),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Geography: Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Seasonally adjusted at annual rates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Chained (2012) dollars 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,North American Industry Classification System ...,Jan-00,Feb-00,Mar-00,Apr-00,May-00,Jun-00,Jul-00,Aug-00,Sep-00,...,19-Nov,19-Dec,20-Jan,20-Feb,20-Mar,20-Apr,20-May,20-Jun,20-Jul,20-Aug
8,NaN,Dollars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Agriculture, forestry, fishing and hunting [11]","28,095","27,638","28,461","28,216","28,397","28,848","28,793","28,054","27,649",...,"41,436","40,718","40,665","41,001","41,397","41,228","41,985","42,196","42,008","42,010"
10,Crop and animal production [11A] 4,"19,970","19,602","19,943","19,713","19,561","19,610","19,593","19,584","19,650",...,"35,029","34,299","34,190","34,557","34,765","34,576","35,480","36,253","35,775","35,583"
11,Crop production [111],"15,710","15,563","15,598","15,441","15,397","15,225","15,131","15,043","15,009",...,"29,525","28,752","28,636","29,095","29,246","29,283","29,989","30,767","30,260","30,112"
12,Crop production (except cannabis) [111X],"15,506","15,342","15,341","15,135","15,026","14,778","14,595","14,407","14,261",...,"22,098","22,163","22,222","22,370","22,394","22,368","22,500","22,593","22,727","22,786"
13,Cannabis production [111C],"1,606","1,599","1,601","1,609","1,617","1,624","1,629","1,645","1,671",...,"7,545","6,636","6,447","6,779","6,916","6,984","7,602","8,339","7,645","7,419"
14,Cannabis production (licensed) [111CL],..,..,..,..,..,..,..,..,..,...,"4,389","3,558","3,415","3,760","3,920","4,014","4,633","5,367","4,722","4,525"
15,Cannabis production (unlicensed) [111CU],"1,606","1,599","1,601","1,609","1,617","1,624","1,629","1,645","1,671",...,"2,972","2,931","2,891","2,863","2,832","2,802","2,773","2,742","2,722","2,703"
16,Animal production [112],"4,460","4,305","4,477","4,414","4,348","4,455","4,493","4,533","4,594",...,"5,588","5,588","5,588","5,536","5,588","5,413","5,598","5,629","5,629","5,588"
17,Forestry and logging [113],"4,464","4,458","4,735","4,730","4,932","5,150","5,113","4,649","4,363",...,"3,123","3,113","3,163","3,122","3,352","3,451","3,324","2,760","2,928","3,091"
18,"Fishing, hunting and trapping [114]","1,154","1,083","1,190","1,197","1,230","1,236","1,246","1,240","1,221",...,"1,106","1,104","1,106","1,094","1,099","1,075","1,089","1,112","1,125","1,128"
19,Support activities for agriculture and forestr...,"2,330","2,307","2,302","2,270","2,260","2,349","2,353","2,334","2,318",...,"2,609","2,598","2,593","2,639","2,595","2,552","2,562","2,593","2,645","2,650"