## This Analysis will focus on answering the following questions: 

Q5/ Electricity production from renewable sources in US

Q6/ Correlation of electricity production from renewable sources with USD

In [85]:
import pandas as pd 
import os 
import csv

In [93]:
US_filepath = os.path.join("Resources\Raw Data\Table 2 - US_electricity_net_gen_from_renewable_en_1990_2020.csv")
USD_filepath = os.path.join("Resources\Raw Data\Table 3 - US-dollar-index-historical-chart.csv")

US_electricity = pd.read_csv(US_filepath)
USD_data = pd.read_csv(USD_filepath)

In [94]:
#Grouping by renewable energy and crude oil 
#Renewable sources include : hydroelectric pumped storage, wood, waste, geothermal, solar, and wind
#crude oil sources include: coal, petroleum, natural gas, other gases, and conventional hydroelectric power 

US_electricity = US_electricity.loc[US_electricity["Value"] != "Not Available"]

US_renewable = US_electricity.loc[ (US_electricity["Description"] == "Electricity Net Generation From Hydroelectric Pumped Storage, All Sectors") | 
                                (US_electricity["Description"] == "Electricity Net Generation From Wood, All Sectors") | 
                                (US_electricity["Description"] == "Electricity Net Generation From Waste, All Sectors") |
                               (US_electricity["Description"] == "Electricity Net Generation From Geothermal, All Sectors") | 
                               (US_electricity["Description"] == "Electricity Net Generation From Solar, All Sectors") | 
                               (US_electricity["Description"] == "Electricity Net Generation From Wind, All Sectors")]

US_oil = US_electricity.loc[(US_electricity["Description"] == "Electricity Net Generation From Coal, All Sectors") |
                            (US_electricity["Description"] == "Electricity Net Generation From Petroleum, All Sectors") | 
                            (US_electricity["Description"] == "Electricity Net Generation From Natural Gas, All Sectors") |
                            (US_electricity["Description"] == "Electricity Net Generation From Other Gases, All Sectors") |
                            (US_electricity["Description"] == "Electricity Net Generation From Conventional Hydroelectric Power, All Sectors")]

US_renewable.head()

,MSN,YYYYMM,Value,Column_Order,Description,Unit
3455,HPETPUS,199001,-152.501,6,Electricity Net Generation From Hydroelectric ...,Million Kilowatthours
3456,HPETPUS,199002,-277.354,6,Electricity Net Generation From Hydroelectric ...,Million Kilowatthours
3457,HPETPUS,199003,5.78,6,Electricity Net Generation From Hydroelectric ...,Million Kilowatthours
3458,HPETPUS,199004,-308.257,6,Electricity Net Generation From Hydroelectric ...,Million Kilowatthours
3459,HPETPUS,199005,-159.195,6,Electricity Net Generation From Hydroelectric ...,Million Kilowatthours

In [95]:
# Cleaning data - need to remove top 30 rows in USD_data 
USD_data = USD_data.rename(columns = {"Macrotrends Data Download" : "Date", 
                                      "Unnamed: 1" : "Value"})
rows = list(range(0,15))
USD_data = USD_data.drop(rows)

USD_data.head()

          Date    Value
15  1973-01-01  107.616
16  1973-02-01  103.046
17  1973-03-01      100
18  1973-04-01  100.376
19  1973-05-01   99.263

In [96]:
US_renewable.dtypes

MSN             object
YYYYMM           int64
Value           object
Column_Order     int64
Description     object
Unit            object
dtype: object

In [105]:
#isolating for 2005 to 2019 
from datetime import datetime 

US_renewable['Date'] = US_renewable['YYYYMM'].astype(str)

US_renewable["Date (YYYY-MM-01)"] = US_renewable['Date']+str("01")


#convert to date time and isolte for desired years

<ipython-input-105-71e6bdae1910>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_renewable['Date'] = US_renewable['YYYYMM'].astype(str)
<ipython-input-105-71e6bdae1910>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_renewable["Date (YYYY-MM-01)"] = US_renewable['Date']+str("01")

,MSN,YYYYMM,Value,Column_Order,Description,Unit,Date,Date (YYYY-MM-01)
3455,HPETPUS,199001,-152.501,6,Electricity Net Generation From Hydroelectric ...,Million Kilowatthours,199001,19900101
3456,HPETPUS,199002,-277.354,6,Electricity Net Generation From Hydroelectric ...,Million Kilowatthours,199002,19900201
3457,HPETPUS,199003,5.78,6,Electricity Net Generation From Hydroelectric ...,Million Kilowatthours,199003,19900301
3458,HPETPUS,199004,-308.257,6,Electricity Net Generation From Hydroelectric ...,Million Kilowatthours,199004,19900401
3459,HPETPUS,199005,-159.195,6,Electricity Net Generation From Hydroelectric ...,Million Kilowatthours,199005,19900501